.App {
  text-align: center;
  font-family: initial;
}
.container{
  border: 1px solid blue;
  height: 500px;
  margin: auto;
  margin-top: 150px;
  border-radius: 20px;
  background-color:  rgb(32, 152, 171);
}
.main{
  border: 1px solid blue;
  background-color: rgb(255, 255, 255);
  width: 90%;
  border-radius: 20px;
  height: 300px;
  margin: auto;
  margin-top: 100px;
}
h1{
  margin-top: 80px;
  color: rgb(32, 152, 171);
}
h3{
color:  rgb(32, 152, 171);
margin-left: 60%;
}
.icon{
  width: 40%;
 
}

button{
  padding: 5px;
  font-size: large;
  margin-right: 300px;
  border-radius: 10px;
  margin-top: 40px;
  color: white;
  background-color:  rgb(32, 152, 171);
  border: none;
}

